/*==============================================================>> Layer Main */

.layer-main p {
    max-width: 70vw;
    font-size: 1.5vh;
    padding: 2vh 5vw;
    border-radius: 4vw;
    background-color: rgba(255, 255, 255, 0.8);
}