
/*==============================================================>> Layer Main */

.layer-main {
    padding: 0 10vw;
    padding-top: 15vh;
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/bgGame.png");
}

.layer-main button {   
    margin-top: 3vh;
    padding: 2vw 4vw;
    border-radius: 20vw;
    border: none;
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    font-size: 3vw;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*==============================================================>> Scanner */

.container-scanner {
    position: fixed;
    bottom: 0;
    left: 3vw;
    right: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 15vh;
}

.container-scanner .scanner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32vw;
    height: 32vw;
    border-radius: 20%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: white;
    touch-action: none;
    background-color: var(--color-orange);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0;
}

.scanner .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 3px 5px;
    border-radius: 30px;
    font-size: 1vh;
    white-space: nowrap;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-3vh);
}

.tipMarker {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(208, 84, 84);
    border-radius: 50%;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}


/*==============================================================>> Counter */

.container-counter {
    position: fixed;
    bottom: 0;
    left: 3vw;
    right: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 45vh;
}

.container-counter .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 500;
}

.container-counter .counter span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    transform: translateY(-3vh);
}
