
:root {
    --color-background: #9DE8F9;

    --color-red: #FF6347;
    --color-green: #29B95C;
    --color-blue: #4169E1;
    --color-whiteSmoke: #f0f0f0;
    --color-yellow: #ffc32b;
    --color-orange: #ff872b;
    --color-correct: #29B95C;
    --color-incorrect: #FF6347;

    --font-size4: 20px;
    --font-size5: 30px;
    --font-size6: 40px;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 80vh;

    background-image: url("images/bgMain.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;

    font-family: Helvetica, Verdana, sans-serif;

    border: 2px solid blue;
}


/*==============================================================>> Main Panel */

.game-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url("images/bgGame.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}


/*==============================================================>> Front Panel */

.start-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-top: 15vh;
    font-size: var(--font-size4);
    font-weight: 500;
    text-align: center;
    background-color: var(--color-whiteSmoke);
    background-image: url("images/bgMain.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
}

.start-panel .scanner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 20%;
    border: 3px solid var(--color-orange);
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-whiteSmoke);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("images/patterns/key.png");
    touch-action: none;
    color: white;
    font-size: 15px;
}

.start-panel button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 200px;
    border: none;
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    font-size: var(--font-size4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


/*==============================================================>> Question */

.question {
    position: fixed;
    top: 130px;
    width: 270px;
    height: 270px;
    border-radius: 20%;
    background-color: var(--color-whiteSmoke);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/*==============================================================>> Scanner */

.container-scanner {
    position: fixed;
    bottom: 0;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 50px;
}

.container-scanner .scanner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 20%;
    box-shadow: inset -4px -4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    touch-action: none;
    background-color: var(--color-orange);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.scanner:nth-child(even) {
    margin-top: 240px;
}

.scanner .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 3px 5px;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 10px;
    white-space: nowrap;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-50px);
}

.tipMarker {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(208, 84, 84);
    border-radius: 50%;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}


/*==============================================================>> Game Info */

.container-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 5px 15px;
    border-radius: 30px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}