

/*==============================================================>> Game Info Panel */

.info-panel .info {
    justify-content: center;
    min-width: 28vw;
    margin: 0;
    padding-bottom: 3vw;
    font-size: 2vw;
    font-weight: 500;
}

.info-panel .info span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    transform: translateY(3vw);
}


/*==============================================================>> Start Game Layer */

.layer-start {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    background-color: var(--color-whiteSmoke);
    background-image: url("images/bgStart.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
}

.layer-start button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    padding: 2vw 4vw;
    border-radius: 20vw;
    border: none;
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*==============================================================>> Game Over Layer */

.layer-gameover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-whiteSmoke);
    background-image: url("images/bgStart.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 7;
}

.layer-gameover .score {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: 110px;
    font-size: var(--font-size4);
    font-weight: 500;
    margin-top: 30px;
}

.layer-gameover .score span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 20px;
    color: var(--color-orange);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(40px);
}

.layer-gameover .score .player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 100px;
}

.layer-gameover .score .player span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    color: var(--color-orange);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transform: translateY(40px);
}

.layer-gameover button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 200px;
    border: none;
    background-color: var(--color-red);
    color: white;
    font-weight: bold;
    font-size: var(--font-size4);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/*==============================================================>> Question */

.question {
    position: fixed;
    top: 13vh;
    width: 35vw;
    height: 35vw;
    border-radius: 20%;
    background-color: var(--color-whiteSmoke);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.5);
}


/*==============================================================>> Scanner */

.container-scanner {
    position: fixed;
    bottom: 0;
    left: 3vw;
    right: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 6vh;
}

.container-scanner .scanner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32vw;
    height: 32vw;
    border-radius: 20%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: white;
    touch-action: none;
    background-color: var(--color-orange);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.scanner:nth-child(even) {
    margin-top: 24vh;
}

.scanner .info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 3px 5px;
    border-radius: 30px;
    margin-top: 15px;
    font-size: 1vh;
    white-space: nowrap;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-50px);
}

.tipMarker {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgb(208, 84, 84);
    border-radius: 50%;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}









/*==============================================================>> Game Info */
/*
.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: var(--color-whiteSmoke);
}

.container-info .info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    font-size: var(--font-size4);
    font-weight: 500;
}

.container-info .button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 200px;
}

.container-info .button-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 15px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-blue);
    font-size: 25px;
    color: var(--color-whiteSmoke);
}

.container-info .button-group button.red {
    background-color: var(--color-red);
}
*/




