:root {
    --color-background: #9DE8F9;

    --color-red: #FF6347;
    --color-green: #29B95C;
    --color-blue: #4169E1;
    --color-whiteSmoke: #f0f0f0;
    --color-yellow: #ffc32b;
    --color-orange: #ff872b;
    --color-correct: #29B95C;
    --color-incorrect: #FF6347;

    --font-size2: 10px;
    --font-size3: 15px;
    --font-size4: 20px;
    --font-size5: 30px;
    --font-size6: 40px;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Helvetica, Verdana, sans-serif;
}


/*==============================================================>> Game Info Panel */

.info-panel {
    position: fixed;
    top: 3vh;
    left: 5vw;
    right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    border-radius: 10vw;
    background-color: var(--color-whiteSmoke);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.info-panel .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 45vw;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 5vw;
}

.info-panel .box-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 30vw;
}

.info-panel .box-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    margin: 1.5vw;
    border: none;
    border-radius: 50%;
    background-color: var(--color-blue);
    font-size: 3vw;
    color: var(--color-whiteSmoke);
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.info-panel .box-button button.red {
    background-color: var(--color-red);
}


/*==============================================================>> Main Layer (Game Background) */

.layer-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url("images/bgStart.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.layer-main img {
    width: 50vw;
    margin-top: 7vh;
    margin-bottom: 5vh;

}

.layer-main button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 2vh;
    padding: 2.5vw 5vw;
    border-radius: 20vw;
    border: none;
    background-color: var(--color-blue);
    color: white;
    font-weight: bold;
    font-size: 3vw;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.layer-main button.red {
    margin-top: 4vh;
    background-color: var(--color-red);
}

.layer-main button.green {
    margin-top: 4vh;
    background-color: var(--color-green);
}